* {
    /*background-color: rgb(56, 40, 64);*/
    background-color: linear-gradient(purple, blue);
    font-family: playball;
    color: white;
    font-size: 20px;
}

/**/




/*Website for learning how to make menu: http://www.webdesignerdepot.com/2012/08/create-a-stunning-menu-in-css3/#*/
/*nav {*/
/*    padding: 0 10px;*/
/*    position: relative;*/
/*    display: block;*/
/*}*/

/*.wrap {*/
/*    width: 940px;*/
/*    margin: 4em auto;*/
/*}*/

/*.clearfix {*/
/*    clear: both;*/
/*}*/

/*.menu li {*/
/*    float: left;*/
/*    position: relative;*/
/*}*/

/*.menu li a {*/
/*    color: #444;*/
/*    display: block;*/
/*    line-height: 20px;*/
/*    padding: 6px 12px;*/
/*    margin: 8px 8px;*/
/*    vertical-align: middle;*/
/*    text-decoration: none;*/
/*}*/

/* Persistent Hover State */
/*.menu li:hover a {*/
/*    color: #222;*/
/*}*/
/*.menu li:hover ul a {*/
/*    background: none;*/
/*}*/
/*.menu li:hover ul li a:hover {*/

/*}*/


