* {
    /*background-color: rgb(56, 40, 64);*/
    background: linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1));
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 
    font-family: playball;
    color: white;
    font-size: 20px;
}

/*Website: http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/ */
.images {
    width: 100%;
    height: 100%;
    /*How much of the border is colored*/
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
    /*Controls size and color of container. inset (size) (color)*/
    box-shadow: inset 0 0 0 16px rgb(120, 163, 232);
    transition: all 0.4s ease-in-out;
}

.img-1 {
    background-image: url(../Panda.jpeg);
}

.img-2 {
    background-image: url(../Bunnies.jpeg);
}

.img-3 {
    background-image: url(../Lions.jpeg);
}

.img-4 {
    background-image: url(../Puppy and Cat.jpeg);
}

.img-5 {
    background-image: url(../Hamster.jpeg);
}

.img-6 {
    background-image: url(../Racoon.jpeg);
}

.img-content p {
    color: 0;
    padding: 50px 100px;
    margin: 0 30px;
    border-top: 5px solid rgba(0,  0, 0, 0);
    transition: all 1s ease-in-out;
}

/*How links will look WITHOUT mouse hovering*/
.img-content p a {
    color: rgb(0, 255, 250);
}

/*How links look WHILE mouse hovers over*/
.image-content p a:hover {
    color: yellow;
}

/*How containers look WHILE mouse hovers over*/
.images:hover {
    box-shadow: 
        inset 0 0 0 10px rgba(255,255,255,255), 0 10px 2px rgba(0,0,0,255);
}

.images:hover .img-content {
    transform: scale(1);
    opacity: 100;
}

.images:hover .img-content p {
    opacity: 100;
}

/
*Website for learning how to make menu: http://www.webdesignerdepot.com/2012/08/create-a-stunning-menu-in-css3/#*/
/*nav {*/
/*    padding: 0 10px;*/
/*    position: relative;*/
/*    display: block;*/
/*}*/

/*.wrap {*/
/*    width: 940px;*/
/*    margin: 4em auto;*/
/*}*/

/*.clearfix {*/
/*    clear: both;*/
/*}*/

/*.menu li {*/
/*    float: left;*/
/*    position: relative;*/
/*}*/

/*.menu li a {*/
/*    color: #444;*/
/*    display: block;*/
/*    line-height: 20px;*/
/*    padding: 6px 12px;*/
/*    margin: 8px 8px;*/
/*    vertical-align: middle;*/
/*    text-decoration: none;*/
/*}*/

/* Persistent Hover State */
/*.menu li:hover a {*/
/*    color: #222;*/
/*}*/
/*.menu li:hover ul a {*/
/*    background: none;*/
/*}*/
/*.menu li:hover ul li a:hover {*/

/*}*/


